.rellenar{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;

}

button.z {
    font-size: 12px;
}

.ui-tabs-anchor{
    font-size: 12px;
}

.area-control{
    padding: 1%;
    box-sizing: border-box;
    width: 20%;
    height: 100%;
    float: left;
    margin: 0%;
    background: ghostwhite
}

.base-red{
    height: 100%;
    width: 100%;
    overflow: scroll;
}

.area-desarrollo{
    padding: 0px;
    width: 80%;
    height: 100%;
    margin: 0px;
    float: right;
}


.contenedor-modelo{
    width: 100%;
    height: 100%;
    overflow: scroll
}
.tab{
    padding: 5px;

}

table{
    border-collapse:collapse;
    border:1px solid #BBBBBB;
}

table td{
    border:1px solid #BBBBBB;
    width: content-box;
}
